{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Dancing+Script:wght@500&family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
      <div class="container text-center">
        <h1 class="jumbotron-heading">Page Not Found</h1>
        <p class="lead">We couldn't find what you are looking for. Come visit our homepage :)</p>
        <p>
          <a href="{{ url_for('main.index') }}"><button class="btn btn-primary my-2">Home</button></a>
        </p>
      </div>
{% endblock %}